// Define variables for your color scheme

// For example:
$red: #ed674e;
$dark-red: #a14d3d;
$blue: #7ea2ed;
$light-green: #c0ed66;
$green: #4e9f3d;
$yellow: #edde5a;
$orange: #e67e22;
$gray: #0e0000;
$light-gray: #f4f4f4;
