// Specific CSS for your home-page
body {
  background-color: #ececec;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

//  Not sure what this "list-grid" is for? - ask Andreas
.list-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}
