// page SHOW of a mower

.image {
  height: 400px;
  width: cover;
}

.text {
  width: 350px;
}


// price of the mower
.price {
  font-weight: bold;
  color: red;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
