<div class="card-mower card-mower">
  <img src="https://media.gerbeaud.net/2020/02/640/tondeuse-electrique-tractee-viking.jpg" class="card-img-top" alt="Great Lawn mower">
  <div class="card-mower-infos">
    <div>
      <h2><%= mower.title %></h2>
      <p><%= mower.description %></p>
    </div>
    <h2 class="card-mower-pricing"><%= mower.price_per_day %> / day</h2>
  </div>
  <div class="card-mower-actions">
    <a href="#" class="btn btn-primary">More info</a>
  </div>
</div>
