<%= render layout: 'shared/mower-card', locals: {mower: mower} do %>
  <div class="title-price">
    <div>
      <h2><%= mower.title %></h2>
    </div>
    <div class="pricing-container">
      <h2 class="card-mower-pricing"><strong>$<%= mower.price_per_day.round %></strong> / day</h2>
    </div>
  </div>
  <p><%= mower.user.address %></p>
<% end %>
