<div class="banner">
  <div class="container">
    <h1><strong>Welcome to Herbnb</strong>!</h1>
    <p>Find the lawn mower that suits you!</p>
  </div>
</div>

<%# Temp: links to example image files of mowers
https://media.gerbeaud.net/2020/02/640/tondeuse-electrique-tractee-viking.jpg
https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/mower-1568302588.jpg
https://www.deere.com/assets/images/region-4/products/mowers/lawn-tractors/x300-series-block-r4g074029-1024x576.jpg
https://media.gerbeaud.net/2020/02/640/tondeuse-electrique-tractee-viking.jpg
https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/mower-1568302588.jpg
https://www.deere.com/assets/images/region-4/products/mowers/lawn-tractors/x300-series-block-r4g074029-1024x576.jpg
 col-sm-1 col-md-1 col-lg-1 col-xl-1
 %>

<div class="global-container">
  <div class="map-container">
    <div id="map"></div>
  </div>
  <div class="index-cards-container">
    <% @mowers.each do |mower| %>
      <%= render partial: 'index-card', locals: {mower: mower} %>
    <% end %>
  </div>
</div>
