<div class="container">
  <h1>Creating your new mower</h1>
  <div class="row">
    <form>
      <div class="form-group">
        <label for="formGroupExampleInput">Mower Title</label>
        <input type="text" class="form-control" id="mowerTitle" placeholder="John Deer Q112">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Mower description</label>
        <input type="text" class="form-control" id="mowerDescription" placeholder="Amazing mower, cut the grass very well and is faster than a F1 car">
      </div>
        <div class="form-group">
        <label for="formGroupExampleInput2">Price per day</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
      </div>
    </form>
    <form>
      <div class="form-group">
        <label for="exampleFormControlFile1">Add pictures from your amazing mower!</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
    </form>
  </div>
</div>
