<div class="main">
  <h2 class="title"><%= @mower.title %></h2>
  <h5><%#= @mower.user.adress %></h5>
  <img src="https://media.gerbeaud.net/2020/02/640/tondeuse-electrique-tractee-viking.jpg" class="card-img-top" alt="Great Lawn mower">
  <h5 class="price">Price per day: <%= @mower.price_per_day %></h5>
  <p class="text"><%= @mower.description %></p>
</div>
