<div class="banner">
  <div class="container">
    <h1><strong>Herbnb</strong></h1>
    <p>Easliy rent lawn mowers nearby your house!</p>
    <div class="search-container">
      <%= render partial: 'searchbar' %>
    </div>
  </div>
</div>
