<div class="banner">
  <div class="container">
    <h1><%= image_tag('logo-white.png') %><strong>Herbnb</strong></h1>
    <p>Rent lawn mowers nearby your house!</p>
    <div class="search-container">
      <%= render partial: 'searchbar' %>
    </div>
  </div>
</div>
