<div class="landing-container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("banner-bg.jpg") %>);">
  <div class="banner-container">
    <%= render partial: 'banner' %>
  </div>
</div>
