// button for every page!

.button {
  background-color: $green;
  color: white;
  width: 200px;
  border-radius: 15px;
  border: none;
  padding: 10px;
  text-align: center;

  &:hover {
    color: white;
    text-decoration: none;
    opacity: 0.9;
  }
}
