// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "mower-index-card";
@import "index-map";
@import "user-cards";
@import "devise-id";

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
:hover a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
