.header {
  background-color: rgb(235, 235, 235);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("grass.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin-bottom: 10px;
}

.header p {
  font-size: 20px;
  color: white;
  opacity: 0.9;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
